# Azure credentials
vault_azure_subscription_id: "00000000-0000-0000-0000-000000000000"
vault_azure_tenant_id: "00000000-0000-0000-0000-000000000000"
vault_azure_client_id: "00000000-0000-0000-0000-000000000000"
vault_azure_client_secret: "your-client-secret"

# Common credentials
vault_windows_admin_password: "YourSecurePassword123!"
vault_ssh_private_key_path: "~/.ssh/id_rsa"
vault_ssh_public_key: "ssh-rsa AAAA...yourpublickey"
