[windows]
{{ windows_vm_ip }}

[windows:vars]
ansible_user=opc
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore
ansible_winrm_transport=basic
ansible_winrm_port=5985
ansible_password={{ windows_admin_password }}
